body {
    font-family: 'Montserrat', sans-serif; 
    background-color: #f0f2f5;
    color: #333;
}

h3 {
	text-align: center;
	font-size: 1.8em;
    color: #333;
    margin-top: 0; 
    margin-bottom: 5px; 
    padding-left: 0; 
    padding-right: 0;
}

button {
	background-color: #1367c8;
    text-decoration: none;
    border-radius: 5px;
    line-height: 24px;
    border: none;
    width: 50px;
}

button:hover {
	background-color: rgba(19, 103, 200, 0.7);
}

select {
	width: 200px;
	height: 24px;
}
content {
        background-color: #FFFCFB;

}